services:
  homeassistant:
    container_name: home-assistant
    image: homeassistant/home-assistant:2025.12.5
    restart: on-failure
    network_mode: host
    volumes:
      - /srv/home-assistant/config:/config
      - /srv/home-assistant/media:/media
    environment:
      - TZ=Europe/Helsinki

  esphome:
    container_name: esphome
    image: ghcr.io/esphome/esphome:2025.12.4
    restart: on-failure
    network_mode: host
    volumes:
      - /srv/esphome/config:/config
      - /etc/localtime:/etc/localtime:ro
    env_file:
      - path: /run/secrets/esphome.env
        required: true

  mosquitto:
    container_name: mosquitto
    image: eclipse-mosquitto:2.0.22
    restart: on-failure
    init: true
    volumes:
      - /srv/mosquitto/config:/mosquitto/config
      - /srv/mosquitto/data:/mosquitto/data
      - /srv/mosquitto/log:/mosquitto/log
    ports:
      - "1883:1883"

  zigbee2mqtt:
    container_name: zigbee2mqtt
    image: koenkk/zigbee2mqtt:2.7.1
    restart: on-failure
    volumes:
      - /srv/zigbee2mqtt/data:/app/data
      - /run/udev:/run/udev:ro
    ports:
      - 8080:8080
    environment:
      - TZ=Europe/Helsinki
      - Z2M_WATCHDOG=1,2
    depends_on:
      - mosquitto

  zwavejs:
    container_name: zwavejs
    image: zwavejs/zwave-js-ui:11.9.1
    restart: on-failure
    tty: true # Official recommendation, see  https://github.com/zwave-js/zwave-js-ui/blob/master/docker/docker-compose.yml
    stop_signal: SIGINT
    volumes:
      - /srv/zwavejs:/usr/src/app/store
    ports:
      - '8091:8091' # web interface
      - '3000:3000' # Z-Wave JS websocket server
    environment:
      - ZWAVEJS_EXTERNAL_CONFIG=/usr/src/app/store/.config-db
      - TZ=Europe/Helsinki
    devices:
      - '/dev/serial/by-id/usb-Zooz_800_Z-Wave_Stick_533D004242-if00:/dev/zwave'

  portainer:
    container_name: portainer
    image: portainer/portainer-ce:2.37.0-alpine
    restart: on-failure
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /srv/portainer:/data
    ports:
      - 9000:9000
    environment:
      - TZ=Europe/Helsinki

  matter-server:
    container_name: matter-server
    image: ghcr.io/home-assistant-libs/python-matter-server:8.1.0
    restart: on-failure
    network_mode: host
    volumes:
      - /srv/matter:/data/
    environment:
      - TZ=Europe/Helsinki

  ep-zone-configurator:
    container_name: everything-presence-zone-configurator
    image: everythingsmarthome/everything-presence-mmwave-configurator:2.0.6
    restart: on-failure
    volumes:
      - /srv/ep-zone-configurator:/config
    ports:
      - 8099:3000
    env_file:
      - path: /run/secrets/hass.env
        required: true

  homeassistant-piper: # Text-to-speech
    container_name: homeassistant-piper
    image: rhasspy/wyoming-piper:2.1.2
    restart: on-failure
    command: "--voice en-us-ryan-low"
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /srv/piper:/data
    ports:
      - "10200:10200"

  homeassistant-whisper: # Speech-to-text
    container_name: homeassistant-whisper
    image: rhasspy/wyoming-whisper:3.0.2
    restart: on-failure
    command: "--model base-int8 --language en"
    volumes:
      - /srv/whisper:/data
    ports:
      - "10300:10300"

  homeassistant-openwakeword:
    container_name: homeassistant-openwakeword
    image: rhasspy/wyoming-openwakeword:2.1.0
    restart: on-failure
    command: "--preload-model ok_nabu"
    volumes:
      - /srv/openwakeword:/data
    ports:
      - "10400:10400"
